.footer-social{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10%; 
    background-color:#232f3e;
    color: #fff;
    height: 100px;
}
.icon{
padding-left: 60%;

}

@media (max-width: 769px) {
    .footer-social{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     margin-left: 0px;
     font-size:medium;
     gap:10px;
     height: 80px;
    }
    .icon{
        font-size: 15px;
    }
}

@media (max-width: 426px) {
    .footer-social{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     margin-left: 0px;
     font-size:medium;
     gap:30px;
     height: 80px;
    }
    .icon{
        font-size: 12px;
    }

}
@media (max-width: 376px) {
    .footer-social{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     margin-left: 0px;
     font-size:medium;
     gap:30px;
     height: 80px;
     
    }
    
}
@media (max-width: 350px) {
    .footer-social{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     margin-left: -18px;
     font-size:medium;
     gap:0px;
     height: 80px;
     
    }
    
}